{%extends "layout.html"%}

{%set bodyId = "page-ideas "%}

{% block title%}
  <title>Ideias - Casa Criativa</title>
{% endblock title %}


{% block content%}
  <div id="container">
    <header>
      <a href="/"><img src="/img/logo.png" alt="Casa Criativa Logomarca"></a>
      <nav>
        <li><a href="/">Inicio</a></li>
        
        <li><a href="#" onclick="onOff()" class="button">Nova Ideia</a></li>
      </nav>
    </header>
    <section id="title">
      <p>Em exibição</p>
      <h1>Ideias</h1>
    </section>      
    <main>
      <section id="ideas">

        {% include "all_Ideas.html"%}
     
      </section>
    </main>
    <footer>
      <p id="footer">com ❤ <a href="http://www.linkedin.com/in/diego-vespa" target="_blank">Diego Vespa</a></p>
    </footer>
  {%endblock%}